:root {
  --bg-color: #121212;
  --font-color: #ffffff;
  --primary-color: #FD346A;
}

body {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  background-color: var(--bg-color);
  color: var(--font-color);
  display: flex;
  justify-content: center;
}